:root {
  --bg-color: #0b0c10;
  --panel-bg: #1f2833;
  --text-color: #66fcf1;
  --highlight: #45a29e;
}

body {
  margin: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: 'Courier New', Courier, monospace; /* Terminal havası */
  overflow: hidden;
}

.container {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.sidebar {
  width: 350px;
  background-color: var(--panel-bg);
  padding: 20px;
  border-right: 2px solid var(--highlight);
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow-y: auto;
}

.map-area {
  flex-grow: 1;
  position: relative;
  background-image: radial-gradient(circle, #1a1a1d 1px, transparent 1px);
  background-size: 30px 30px; /* Izgara görünümü */
}

button {
  background-color: var(--highlight);
  color: #000;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
}

button:hover {
  background-color: var(--text-color);
}

.log-entry {
  border: 1px solid var(--highlight);
  padding: 10px;
  font-size: 0.8rem;
  background: rgba(0,0,0,0.3);
}